<form>
  <h1><input name="name" value="{{item.name}}" /></h1>
  <label>Base Score</label>
  <input name="system.baseScore" type="number" value="{{system.baseScore}}" />
  <label>Threshold Minor</label>
  <input name="system.thresholdMinor" type="number" value="{{system.thresholdMinor}}" />
  <label>Threshold Major</label>
  <input name="system.thresholdMajor" type="number" value="{{system.thresholdMajor}}" />
  <label>Threshold Severe</label>
  <input name="system.thresholdSevere" type="number" value="{{system.thresholdSevere}}" />
  <label>Slots</label>
  <input name="system.slots" type="number" value="{{system.slots}}" />
  <label>Description</label>
  <textarea name="system.description">{{system.description}}</textarea>
</form>
