<form>
  <h1><input name="name" value="{{item.name}}" /></h1>
  <label>Level</label>
  <input name="system.level" type="number" value="{{system.level}}" />
  <label>Domain</label>
  <input name="system.domain" value="{{system.domain}}" />
  <label>Cost</label>
  <input name="system.cost" value="{{system.cost}}" />
  <label>Description</label>
  <textarea name="system.description">{{system.description}}</textarea>
  <label>Roll</label>
  <input name="system.roll" value="{{system.roll}}" />
  <label>Duration</label>
  <input name="system.duration" value="{{system.duration}}" />
  <label>Range</label>
  <input name="system.range" value="{{system.range}}" />
</form>
